@model Web.Models.EntryViewModel

@{
	Layout = "/Views/_Layout.cshtml";
	string title = "Add new blog entry";
	ViewBag.Title = @title;
}
<section class="jumbotron">
	<h2>@title</h2>
	@using (Html.BeginForm("AddEntry", "Blog", FormMethod.Post))
	{
		@Html.HiddenFor(m => m.BlogId)
		<section>
			@Html.DisplayNameFor(m => m.Title)
			<div>
				@Html.TextBoxFor(m => m.Title)
			</div>
		</section>
		<section>
			@Html.DisplayNameFor(m => m.Body)
			<div>
				@Html.TextAreaFor(m => m.Body)
			</div>
		</section>
		<section>
			<input type="submit" value="Submit"/>
		</section>
	}
</section>