@model Web.Models.EntryViewModel

@{
	Layout = "../Shared/_Layout.cshtml";
	string title = "Add new blog entry";
	ViewBag.Title = @title;
}

@using (Html.BeginForm("AddEntry", "Entry", FormMethod.Post))
{
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2>
				@title
			</h2>
		</div>
		@Html.HiddenFor(m => m.BlogId)
		<div>
			<div class="panel-body">
				@Html.DisplayNameFor(m => m.Title)
				<div>
					@Html.TextBoxFor(m => m.Title, new {@class="col-md-10 form-control"})
				</div>
			</div>
			<div class="panel-body">
				@Html.DisplayNameFor(m => m.Body)
				<div>
					@Html.TextAreaFor(m => m.Body, new {@class = "col-md-10 form-control"})
				</div>
			</div>
			<div class="panel-body">
				<button class="btn btn-success btn-sm" type="submit" value="Add">
					<span class="glyphicon glyphicon-plus"></span>
					Add
				</button>
			</div>
		</div>
	</div>
}
