@model Web.Models.EntryViewModel

@{
	string @title = String.Format("Edit entry - {0}", Model.Title);
	ViewBag.Title = @title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("EditEntry", "Entry", FormMethod.Post))
{
	@Html.HiddenFor(m => m.BlogId)
	@Html.HiddenFor(m => m.EntryId)
	<div class="panel panel-info">
		<div class="panel-heading h2">@title</div>
		<div class="panel-body">
			@Html.DisplayNameFor(m => m.Title)
			<div>
				@Html.TextBoxFor(m => m.Title, new {@class="col-md-10 form-control"})
			</div>
		</div>
		<div class="panel-body">
			@Html.DisplayNameFor(m => m.Body)
			<div>
				@Html.TextAreaFor(m => m.Body, new {@class="col-md-10 form-control"})
			</div>
		</div>
		<div class="panel-body">
			<button class="btn btn-primary btn-sm" type="submit" value="Submit">
				<span class="glyphicon glyphicon-pencil"></span>
				Submit
			</button>
		</div>
	</div>
}
